.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #eae0d5 0%, #eae0d5 50%, #0a0908 50%, #0a0908 100%);
    padding: 0 50px;
}

.wrapper .wrapper-content{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.wrapper-content .wrapper-body{
    display: flex;
    width: 100%;
    min-height: calc(100vh - 280px);
}

@media only screen and (max-width:768px){
    .wrapper-content .wrapper-body{
        flex-direction: column;
    }

    .wrapper{
        padding: 0;
    }
}