.wrapper-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    column-gap: 25px;
    background-color: #f8f9fa;
    width: 100%;
    height: 80px;
    border-radius: 15px 15px 0 0;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-bottom-color: #FFD700;
}

.wrapper-navbar span{
    font-size: 34px;
    font-weight: 500;
}

.wrapper-navbar .logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 8px;
}

.logo-box .logo{
    color: #fff;
    font-size: 38px;
    z-index: 100;
}