.wrapper-skils{
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
    background-color: #eae0d5;
}


.wrapper-skils .skil-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
    font-size: 50px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.wrapper-skils .skill{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: 500;
    
}

.skil-box:hover{
    transform: scale(1.2);
}

.skil-box .icon{
    font-size: 60px;
}

.skil-box .html{
    color: #e65212;
}
.skil-box .css{
    color: #008ad4;
}
.skil-box .javascript{
    color: #e7f702;
}
.skil-box .angular{
    color: #dd0330;
}
.skil-box .react{
    color: #61dafb;
}
.skil-box .html{
    color: #e65212;
}

.skil-box .bootstrap{
    color: #6e11f4;
}
.skil-box .sass{
    color: #f7008e;
}
.skil-box .c{
    color: #24e20b;
}


@media only screen and (max-width:768px) {
    .wrapper-skils .skil-box{
        width: 40px;
        height: 40px;
    }
    .skil-box .icon{
        font-size: 20px;
    }
}








@media only screen and (max-width:768px){
    .wrapper-skils{
        height: calc(50vh - 140px);
    }

}